/* header */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reenie-beanie-regular {
  font-family: "Reenie Beanie", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
}

header {
  padding: 30px;
  text-align: center;
  background: linear-gradient(#9ec1d8, #cb59cb);
  color: #fff;
}
header h1 {
  font-size: 50px;
  margin: 0;
}
header p {
  font-size: 18px;
  margin: 10px 0 0;
}
nav {
  overflow: hidden;
  background-color: #c10dbbc6;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #dd62be;
  color: #ffffff;
}
nav a:last-child {
  float: right;
}

/* content */
main {
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.leftcolumn {
  flex: 60%;
}

.rightcolumn {
  flex: 25%;
  background-color: #fff;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.rightcolumn .fakeimg {
  height: 100px;
}

.card {
  background-color: #fff;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.card h5 {
  font-size: 14px;
  color: #777;
  margin-top: 0;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.card:last-child {
  margin-bottom: 20px;
}

/* footer */

footer {
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(#9ec1d8, #cb59cb);
  margin-top: 20px;
  color: #333;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 14px;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.social-media-item {
  display: inline-block;
  margin: 0 10px;
}

.social-media-link {
  color: #333;
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.social-media-link:hover {
  opacity: 0.8;
}